

:root {
    --primary-color: #dbd3d8;
    --secondary-color: #716a5c;
    --accent1-color: #0f1a20;
    --accent2-color: #b07156;
    --heading-font: "IBM Plex Sans", serif;
    --text-font:"IBM Plex Sans",serif;

}
body {
    font-family: var(--text-font);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: -1 / 1;
    align-items: center;
    border-bottom: 1px solid var(--accent1-color);
    
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 200px;
    height: auto;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.history {
    margin: 1rem auto;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;

    

}

.history h2 {
    order: 2;

   
}

.p1 {
    order: 0;

}

.p2 {
    order: 3;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem auto;
}

.adventure h2 {
    grid-column: 3 / 6;
}

.adventure img {
    background-color: var(--accent1-color);
    border: thin var(--accent1-color) solid;
    padding: 5px;
    order: 1;
}

figcaption {
    order: 2;
    padding: 3px;
    text-align: start;
    font-size: small;
}

footer {
    margin-top: 15px;
    border-top: 1px solid#000;
    margin-bottom: 15px;
    border-bottom: 1px solid#000;
    text-align: center;
   

    
}

.footer p {
   display: flex;
}
.sociallinks{
   

}
 .hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    opacity: 0.9;

    
    
}

.hero article {
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
    background-color: var(--primary-color);
    opacity: 0.9;

}

.hero article img {
    position: relative;
    float: right;
    margin: 2rem;
    width: 20rem;
}
