

:root {
    --primary-color: #dbd3d8;
    --secondary-color: #716a5c;
    --accent1-color: #0f1a20;
    --accent2-color: #b07156;
    --heading-font: "IBM Plex Sans", serif;
    --text-font:"IBM Plex Sans",serif;

}
body {
    font-family: var(--text-font);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

 .hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    opacity: 0.9;

    
    
}

.hero article {
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
    background-color: var(--primary-color);
    opacity: 0.9;

}

.hero article img {
    position: relative;
    float: right;
    margin: 2rem;
    width: 20rem;
}
