:root{
    --background-color: darkblue;
    --img-height: auto;
    --nav-padding: 10px;

}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: var(--img-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}
main {
   max-width: 840px;
}
aside {
    text-align: center;
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--background-color);
    color: white;
}
aside img {
    width: 200px;
    height: var(--img-height);
}
main img {
    width: 150px;
    height: var(--img-height);
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid#000;
    text-align: center;
}
